@model BinusZoom.Models.Registration

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="confirm-page">
    <div class="container-lg p-0 d-flex justify-content-center my-3">
        <div class="card-details-wrap">
            <div class="bg-white p-lg-5 p-3 shadow-lg card-details d-flex flex-column justify-content-center background-detail">
                <div class="d-flex flex-column align-items-center justify-content-center ">
                    <img class="img-fluid" width="150" src="~/images/success-images.gif" />
                    <p class="title text-center">Registered Successfully</p>
                    <p class="text-inform text-center">Please check your email to get the upcoming meeting link!</p>
                </div>
                <div class="align-items-start mt-2">
                    <label class="label-form">Full Name</label>
                    <p class="detail-confirm">@Html.DisplayFor(model => model.NamaLengkap)</p>
                </div>
                <div class="align-items-start mt-2">
                    <label class="label-form">NIM</label>
                    <p class="detail-confirm">@Html.DisplayFor(model => model.NIM)</p>
                </div>
                <div class="align-items-start mt-2">
                    <label class="label-form">Email</label>
                    <p class="detail-confirm">@Html.DisplayFor(model => model.Email)</p>
                </div>
            </div>
        </div>
    </div>
</div>
