@model BinusZoom.Models.Meeting

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" type="date"/>
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterPath" class="control-label"></label>
                <input asp-for="PosterPath" class="form-control"/>
                <span asp-validation-for="PosterPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkUrl" class="control-label"></label>
                <input asp-for="LinkUrl" class="form-control"/>
                <span asp-validation-for="LinkUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload poster</label>
                <input id="templateFile" name="templateFile" class="form-control" type="file"/>
            </div>
            <div class="form-group">
                <br/>   
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>