@model Meeting

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="AttendanceCsv" asp-route-id=@Model.Id method="post" enctype="multipart/form-data">
    <input id="attendanceCsv" type="file" />
</form>
    
<table class="table">
    <thead>
    <tr>
        <th>
            Nama Lengkap
        </th>
        <th>
            NIM
        </th>
        <th>
            Eligible for Certificate
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Registrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaLengkap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIM)
            </td>
            <td>
                @if (item.EligibleForCertificate)
                {
                    <span class="text-primary">Yes</span>
                }
                else
                {
                    <span class="text-danger">No</span>
                }
            </td>
            <td>
                @if (item.EligibleForCertificate)
                {
                    <a asp-controller="Registration" asp-action="Certificate" asp-route-id="@item.Id" class="btn btn-primary">Send Certificate Certificate</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>