@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>test lagi dong <a href="https://learn.microsoft.com/aspnet/core">loh kok bsa ga bsa Web apps with ASP.NET Core</a>.</p>
</div>